@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@PageTitle</h1>
<hr />
@Html.Breadcrumb()
<form method="post" id="editForm">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="card mb-3">
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
    <div class="card-footer">
        <div class="mb-3 text-center">
            @RenderSection("Buttons", required: false)
        </div>
    </div>
</form>
@section Scripts {
    @RenderSection("Scripts", required: false)
}